<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/beejo.css') }}">

    <title>Beejo's Cakes</title>

</head>

<body>

<div class="container">
    <!-- header starts here -->
    <!-- <div className={style.} -->
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a href="#">
                    <img src="logo_2.png" width="80" height="80" alt="logo_2">
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo" href="#">Beejo's Cakes</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">Blog</a>
            <a class="p-2 text-muted" href="#">Cake designs</a>
            <a class="p-2 text-muted" href="Recipes.html">Recipes</a>
        </nav>
    </div>
</div>
<div class="container cake_designs">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="IMG_2603.JPG" class="card-img-top" alt="Title">
                <div class="card-body">
                    <h5 class="card-title">Card title <a href="#" class="float-right">Likes</a></h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="IMG_2603.JPG" class="card-img-top" alt="Title">
                <div class="card-body">
                    <h5 class="card-title">Card title <a href="#" class="float-right">Likes</a></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="IMG_2603.JPG" class="card-img-top" alt="Title">
                <div class="card-body">
                    <h5 class="card-title">Card title <a href="#" class="float-right">Likes</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="IMG_2603.JPG">
                    <img src="IMG_2603.JPG" alt="IMG_2603" class="img-fluid">
                    <div class="caption">
                        <p>Galaxy Mirror Glaze Cake</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="rainbow frosting.jpeg">
                    <img src="rainbow frosting.jpeg" alt="rainbow frosting" class="img-fluid">
                    <div class="caption">
                        <p>Rainbow Frosting Cupcakes</p>
                    </div>
                </a>
            </div>


            <div class="col-md-6">
                <a href="IMG_2693.JPG">
                    <img src="IMG_2693.JPG" alt="IMG_2693" class="img-fluid">
                    <div class="caption">
                        <p>Unicorn with Colorful Swiss Meringue buttercream</p>
                    </div>
                </a>
            </div>


            <div class="col-md-6">
                <a href="IMG_4651.JPG">
                    <img src="IMG_4651.JPG" alt="IMG_4651" class="img-fluid">
                    <div class="caption">
                        <p>Mini Mause Chocolate Cake</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="apple-crumble-cake-recipe1.jpg">
                    <img src="apple-crumble-cake-recipe1.jpg" alt="apple-crumble-cake-recipe1" class="img-fluid">
                    <div class="caption">
                        <p>Apple Crumble Cake</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="dulce de leche.jpg">
                    <img src="dulce de leche.jpg" alt="dulce de leche" class="img-fluid">
                    <div class="caption">
                        <p>No Bake Dulce de Leche Biscuits Cake</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="IMG_6583.JPG">
                    <img src="panda(1).jpg" alt="panda(1)" class="img-fluid">
                    <div class="caption">
                        <p>Panda Chocolate Cake</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="vanilla.jpeg">
                    <img src="vanilla.jpg" alt="vanilla" class="img-fluid">
                    <div class="caption">
                        <p>White Vanilla Cake</p>
                    </div>
                </a>
            </div>


            <a class="btn btn-primary btn-lg" href="https://www.themealdb.com/api/json/v1/1/categories.php
" role="button">more cakes</a>
        </div>
-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

</body>
</html>

