{% extends "layout.html" %}

{% block title %}
Cake Designs
{% endblock %}

{% block content %}

<div class="container page-container cake_designs">
    <div class="row">
    {% for cake in cakes %}
    <div class="col-md-6">
        <a class="card" href="{{ url_for('get_recipe', idMeal=cake['idMeal']) }}">
            <img src="{{ cake['strMealThumb'] }}" class="card-img-top img-fluid"
                 alt="{{ cake['strMeal'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ cake['strMeal'] }}</h5>
                <span class="float-right">264 <a href="#"><i class="far fa-heart"></i></a></span>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
